<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
    </head>
    <body>
        {{ template "header" }}
        <div>
            <form method="POST" action="/asciiart">
                <h3>
                    <label>You write text, we draw art 👇</label><br>
                </h3>
                <!-- <input name="input" type="text" value=""/> -->
                <textarea name="input" id="input" placeholder="Enter text here" rows="5" cols="33" ></textarea><br>
                <input type="radio" id="standard" name="banner" value="standard">
                <label for="standard">Standard</label>
                <input type="radio" id="shadow" name="banner" value="shadow">
                <label for="shadow">Shadow</label>
                <input type="radio" id="thinkertoy" name="banner" value="thinkertoy">
                <label for="thinkertoy">Thinkertoy</label><br>
                <!-- <label>banner</label><input name="banner" type="text" value=""/> -->
                <!-- <label for="banner">Banner type</label>
                <select name="banner" id="banner">
                    <option value="standard">Standard</option>
                    <option value="shadow">Shadow</option>
                    <option value="thinkertoy">Thinkertoy</option> -->
                <p>
                    <input type="submit" value="submit"/>
                </p>    
            </form>
        </div>
        {{ template "footer" }}
    </body>
</html>
